:root {
    --clr-orange: #f87932;
    --clr-turquoise: #39BFA7;
    --gap: 20px;
    --wandh-img: 250px;
}

h4 {
    color: #F87932;
}

h2 {
    font-family: "Merriweather", serif;
}

header h5 {
    color: #F87932;
}

header {
    background: url(../img/background.jpg);
}

.navbar-expand-lg {
    padding-top: 0;
    padding-bottom: 20px;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: center;
}

.bg-body-tertiary {
    --bs-bg-opacity: 0;
}

.nav {
    gap: 40px;
}

.nav-link {
    height: 48px;
    letter-spacing: 5px;
    text-align: center;
    background-color: #ffffffb7;
    border-radius: 0px 0px 10px 10px;
    margin: 0;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    transition: height 1s ease-in-out, padding-top 1s ease-in-out;
}

.nav-link:hover {
    box-shadow: 0 0 20px 12px rgba(226, 226, 226, 0.281);
    padding-top: 40px;
    height: 100px;
}

.booktrip {
    display: flex;
    flex-direction: column;
    gap: 75px;
    align-items: flex-start;
    padding: 3rem 1rem;
    width: 100vw;
    /* overflow-x: hidden; */
}

.bookcontainer {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0 1rem;
}

.rhomb {
    transform: rotate(45deg);
    margin: 50px;
    height: 300px;
    width: 300px;
    overflow: hidden;

}

.rhomb img {
    max-width: 100%;
    transform: rotate(-45deg) scale(1.42);
}

.rhomb:nth-child(1) {
    border: 20px solid #fff;
}

.rhomb:nth-child(2) {
    width: 380px;
    height: 350px;
    position: relative;
    bottom: 350px;
    left: 150px;
    overflow: hidden;
    z-index: -1;
    object-fit: cover;
}

.rhomb:nth-child(2) img {
    width: auto;
    height: 400px;
}

.adventure h3 {
    color: #666666;
    font-size: 24px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.adventure h2 {
    font-size: 60px;
    line-height: 66px;
    font-weight: 900;
    color: #222222;
    margin-bottom: 30px;
}

.adventure p {
    font-size: 20px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 5px;
    color: #333333;
}

.adventure .container .title {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.adventure .container .podtitle {
    font-size: 60px;
    line-height: 66px;
    font-weight: 900;
}

.adventure .container {
    padding-top: 300px;
    position: relative;
}

.adventure .container .maintext {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 4px;
    margin-bottom: 200px;
}

.adventure .container .btn-lg {
    margin-top: 20px;
}

.adventure a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 213px;
    height: 62px;
    background-color: none;
    font-size: 20px;
    font-weight: 700;
    border: 2px solid;
    border-radius: 0;
    position: relative;
    transition: .4s;
}

.adventure a:hover {
    background-color: #f87b3200;
}

.adventure a::before {
    content: "";
    display: block;
    background: #F87932;
    position: absolute;
    z-index: -1;
    transition: .4s;
}

.btn-lg::before {
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
}

.btn-lg:hover::before {
    width: 100%;
}

.adventure .container .col-6 {
    --width: min(100vw, 770px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: calc(var(--width) / 5.5);
    max-width: var(--width);
    height: 638px;
    background-size: cover;
    background-position: top left;

}

.route {
    transform: scale(0.6);
    position: absolute;
    top: -68px;
    right: 391px;
}

.videosec {
    background-image: url(../img/IMG_7207.gif);
    background-size: cover;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

.videosec .container h2 {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-size: 60px;
    line-height: 66px;
    color: white;
}

.text-center {
    text-align: center !important;
    margin-top: 400px;
}

.videosec .container p {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: white;
    line-height: 30px;
    letter-spacing: 4px;
}

.videosec button {
    background: none;
    width: 200px;
    border: none;
    margin-top: 80px;
}

.videosec .container {
    position: absolute;
}

.videosec .container .rombs {
    position: relative;
    top: 35px;
}

.info-item:not(.inside) {
    outline: 7px solid var(--secondary);
    box-shadow: 0 0 10px 5px black;
}

.info-item:not(.inside)>p {
    text-align: center;
    font-size: 0.75rem;

    padding-top: 10px;
    padding-left: 5px;
}


.info-item.inside {
    --size: 55px;
    --direction: -2;
    --scale: 1;

    display: flex;
    justify-content: center;
    align-items: center;


    background: var(--secondary);

    padding: 0;

    outline: 2px solid #674631;
}

.info-item.inside>p {
    --scale: 1;
    transform: rotate(225deg);
    margin: 0;
}

.blog {
    margin-top: 300px;
}

.blog h3 {
    font-family: 'Montserrat';
    font-weight: 800;
    color: black;
    font-size: 2.8rem;
}

.blog h4 {
    font-size: 2rem;
    color: #444444;
}

.blog p {
    color: #666666;
    font-size: 1rem;
}

.blog .text-center {
    margin-top: 0px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 5px;

}

img,
svg {
    vertical-align: middle;
}

.photo-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.blog .img-1 {
    grid-row: 1 / 3;
    background-image: url(../img/photoblock1.png);
    background-position: center;
    height: calc(var(--wandh-img)* 2 + var(--gap));
}

.img {
    background-size: cover;
    height: var(--wandh-img);
    width: var(--wandh-img);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.gradient-hov-img {
    background: linear-gradient(to top, black, rgba(0, 0, 0, 0));
    position: absolute;
    width: 100%;
    bottom: -100px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 20px;
    transition: .4s;
}

.img:hover .gradient-hov-img {
    bottom: 0px;
    transition: 0.8s;
}

.text-hov-img {
    font-family: 'Merriweather';
    font-weight: 600;
    color: #ffffff;
    font-size: 1.6rem;
    letter-spacing: 0;
}

.strelka {
    width: 40px;
}

.img-2 {
    background-image: url(../img/photoblock2.png);
}

.img-3 {
    background-image: url(../img/photoblock3.png);
}

.blog .img-4 {
    grid-row: 1;
    grid-column: 3 / 5;
    background-image: url(../img/photoblock4.png);
    width: calc(var(--wandh-img)* 2 + var(--gap));
}

.img-5 {
    background-image: url(../img/photoblock5.png);
}

.img-6 {
    background-image: url(../img/photoblock6.png);
}

.blog a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 213px;
    height: 62px;
    background-color: none;
    font-size: 20px;
    font-weight: 700;
    border: 2px solid;
    border-radius: 0;
    position: relative;
    transition: .4s;
    margin-top: 20px;
}

.blog a:hover {
    background-color: #f87b3200;
}

.blog a::before {
    content: "";
    display: block;
    background: #F87932;
    position: absolute;
    z-index: -1;
    transition: .4s;
}

.roadmap {
    padding: 150px;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg-road.jpg);
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.roadmap .container h2 {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-size: 60px;
    line-height: 66px;
    color: #FFFFFF;
}

.roadmap .container p {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 5px;
    color: #EEEEEE;
    width: 61%;
}

.roadmap .container .leftsite h2 {
    color: #39BFA7;
    font-size: 60px;
    text-align: right;
    line-height: 72px;
    font-weight: 400;
    font-family: "Sedgwick Ave", cursive;
}

.roadmap .container .rightsite .row {
    display: flex;
}

.roadmap .container .rightsite .number p {
    font-size: 80px;
    line-height: 96px;
    font-weight: 400;
    color: white;
    font-family: "Sedgwick Ave", cursive;
    margin-bottom: 0px;
}

.roadmap .container .rightsite .itd .month {
    font-size: 23px;
    line-height: 33px;
    font-weight: 400;
    color: #969696;
    font-family: "Sedgwick Ave", cursive;
    font-style: normal;
    margin-bottom: 0px;
}

.roadmap .container .rightsite .itd .title {
    font-size: 40px;
    line-height: 52px;
    font-weight: 900;
    width: 100%;
    font-family: "Merriweather", serif;
    margin-bottom: 0px;
}

.roadmap .container {
    border: 5px solid white;
    padding-top: 60px;
    padding-bottom: 60px;
}

.roadmap a {
    display: flex;
    font-family: "Lato", sans-serif;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 62px;
    background-color: #F87932;
    font-size: 20px;
    font-weight: 700;
    color: white;
    border: none;
    border-radius: 0;
    position: relative;
    transition: .4s;
    letter-spacing: 5px;
    margin-top: 50px;
}

.roadmap a:hover {
    background-color: #f87b3200;
}

.roadmap a::before {
    content: "";
    display: block;
    background: #F87932;
    position: absolute;
    z-index: -1;
    transition: .4s;
}

.orng-btn {
    border-color: #f87932;
    background-color: #f87932;
    color: #ffffff;
    box-shadow: 1px 4px 15px 1px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    position: relative;
    transition: .2s;
    z-index: 1;
}

.orng-btn,
.trn-btn {
    border-style: solid;
    border-width: 2px;
    font-family: 'Lato';
    letter-spacing: 3px;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 12px 20px;
    margin-top: 100px;
    cursor: pointer;
}

.orng-btn:hover .in-btn {
    right: 230px;
    transition: .4s;
}

.orng-btn:hover {
    box-shadow: 1px 3px 10px 1px #ffffffaf;
    transition: .4s;
}

.in-btn {
    z-index: -1;
    position: absolute;
    top: -30px;
    right: -90px;
    width: 70px;
    height: 150px;
    background-color: var(--clr-turquoise);
    transform: rotate(30deg);
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
    transition: .5s;
}

.gap-5 {
    gap: 2rem !important;
}

.roadmap .text-center {
    margin-top: 0px;
}

@media (max-width: 1200px) {
    :root {
        --wandh-img: 230px;
    }

    .blog h3 {
        font-family: 'Montserrat';
        font-weight: 800;
        color: black;
        font-size: 2.8rem;
        text-align: center;
    }

    .blog h4 {
        font-size: 2rem;
        color: #444444;
        text-align: center;
    }

    .rhomb {
        width: 220px;
        height: 220px;
    }

    .rhomb img {
        max-width: 100%;
        transform: rotate(-45deg) scale(1.42);
    }

    .rhomb:nth-child(1) {
        border: 20px solid #fff;
    }

    .rhomb:nth-child(2) {
        width: 220px;
        height: 220px;
        position: relative;
        bottom: 300px;
        left: 150px;
        overflow: hidden;
        z-index: -1;
        object-fit: cover;
    }

    .rhomb:nth-child(2) img {
        width: auto;
        height: 250px;
    }

    .route {
        transform: scale(0.6);
        top: 63px;
        right: 282px;
    }

    .adventure .container .maintext {
        font-size: 16px;
        margin-bottom: 150px;
    }

    .adventure .container .podtitle {
        font-size: 40px;
    }

    .adventure .container .title {
        font-size: 20px;
    }

    .adventure {
        margin-bottom: 150px;
    }

    .roadmap .container p {
        font-size: 14px;
        width: 81%;
    }

    .roadmap .container .leftsite h2 {
        font-size: 50px;
        text-align: center;
    }

    .roadmap .container .rightsite .number p {
        font-size: 80px;
        line-height: 96px;
        font-weight: 400;
        color: white;
        font-family: "Sedgwick Ave", cursive;
        margin-bottom: 0px;
    }

    .roadmap .container .rightsite .itd .title {
        font-size: 26px;
        line-height: 32px;
        font-weight: 900;
        width: 100%;
        font-family: "Merriweather", serif;
        margin-bottom: 0px;
        letter-spacing: 0px;
    }

    .roadmap .container .rightsite .itd .month {
        font-size: 18px;
    }

    .orng-btn,
    .trn-btn {
        margin-top: 0px;
    }
}

@media (max-width: 992px) {
    :root {
        --wandh-img: 160px;
    }

    .videosec {
        margin-top: 250px;
    }

    .route {
        transform: scale(1);
        top: 129px;
        right: -6px;
    }

    .col-lg-6 {
        text-align: center;
    }

    .rhomb:nth-child(1) {
        border: 20px solid #fff;
        position: relative;
        left: 250px;
        bottom: 50px;
    }


    .rhomb:nth-child(2) {
        width: 220px;
        height: 220px;
        position: relative;
        bottom: 350px;
        left: 400px;
    }

    .dam {
        height: 0;
    }

    .adventure {
        margin-bottom: 100px;
    }

    .roadmap .container .rightsite .itd .title {
        font-size: 31px;
    }

    .roadmap .container .rightsite .itd .month {
        text-align: left;
    }

    .roadmap .container .rightsite .number p {
        font-size: 65px;
    }
    .roadmap .container p {
        font-size: 12px;
        width: 100%;
    }
    .roadmap .container h2 {
        font-size: 55px;
    }
}

@media (max-width: 768px) {
    :root {
        --gap: 10px;
    }

    .videosec {
        margin-top: 0px;
    }

    .photo-grid {
        gap: var(--gap);
    }

    :root {
        --wandh-img: 130px;
    }

    .img-2,
    .img-3,
    .img-5,
    .img-6 {
        width: 130px;
        height: 130px;
    }

    .img-3,
    .img-5,
    .img-6 {
        width: 130px;
        height: 130px;
    }

    .text-hov-img {
        font-family: 'Merriweather';
        font-weight: 500;
        color: #ffffff;
        font-size: 0.8rem;
        letter-spacing: 0;
    }

    .strelka {
        width: 30px;
    }

    .gradient-hov-img {
        padding: 10px;
    }

    .route {
        display: none;
    }

    .routemin {
        position: absolute;
        top: 250px;
        left: -5px;
        transform: scale(1.1);
    }

    .adventure .container .podtitle {
        margin-bottom: 0px !important;
    }

    .adventure .container .maintext {
        font-size: 14px;
        margin-bottom: 502px;
    }

    .adventure .container .title {
        font-size: 16px;
    }

    .rhomb:nth-child(2) {
        width: 200px;
        height: 200px;
        position: relative;
        bottom: 459px;
        left: 309px;
    }

    .rhomb:nth-child(1) {
        border: 0px;
        position: relative;
        left: -85px;
        bottom: 489px;
    }

    .rhomb img {
        max-width: 100%;
        transform: rotate(-45deg) scale(1.62);
    }

    .rhomb {
        width: 160px;
        height: 160px;
    }

    .rhomb:nth-child(2) img {
        width: auto;
        height: 200px;
    }

    .dam {
        height: 0;
    }

    .adventure {
        margin-bottom: 100px;
    }
    .roadmap .container h2 {
        font-size: 30px;
    }
    .roadmap {
        padding: 70px;
    }
    .roadmap .container .rightsite .itd .title {
        font-size: 28px;
    }
    .roadmap .container .rightsite .number p {
        font-size: 55px;
    }

}

@media (max-width: 576px) {
    .blog h3 {
        font-family: 'Montserrat';
        font-weight: 800;
        color: black;
        font-size: 2.0rem;
        text-align: center;
    }

    .blog h4 {
        font-size: 1.3rem;
        color: #444444;
        text-align: center;
    }

    :root {
        --gap: 5px;
    }

    .blog a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 40px;
        background-color: none;
        font-size: 12px;
        font-weight: 700;
        border: 2px solid;
        border-radius: 0;
        position: relative;
        transition: .4s;
        margin-top: 20px;
    }

    .photo-grid {
        gap: var(--gap);
    }

    :root {
        --wandh-img: 70px;
    }

    .img-2,
    .img-3,
    .img-5,
    .img-6 {
        width: 70px;
        height: 70px;
    }

    .img-3,
    .img-5,
    .img-6 {
        width: 70px;
        height: 70px;
    }

    .gradient-hov-img {
        padding: 5px;
    }

    .text-hov-img {
        font-family: 'Merriweather';
        font-weight: 500;
        color: #ffffff;
        font-size: 0.5rem;
        letter-spacing: 0;
    }

    .strelka {
        width: 15px;
    }

    .news .text-center {
        font-size: 12px;
    }

    .container {
        overflow: hidden;
    }

    .adventure .container .maintext {
        font-size: 10px;
        margin-bottom: 162px;
        letter-spacing: 2px;
        line-height: 15px;
    }

    .rhomb {
        width: 100px;
        height: 100px;
    }

    .routemin {
        top: 229px;
        left: -5px;
        transform: scale(1);
    }

    .adventure .container .podtitle {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 20px !important;
    }

    .adventure .container .title {
        font-size: 12px;
    }

    .adventure a {
        width: 129px;
        height: 45px;
        background-color: none;
        font-size: 13px;
        font-weight: 600;
        border: 1px solid;
    }

    .rhomb:nth-child(1) {
        border: 0px;
        position: relative;
        left: -100px;
        bottom: 256px;
    }

    .rhomb:nth-child(2) {
        width: 90px;
        height: 90px;
        position: relative;
        bottom: 312px;
        left: 148px;
    }

    .rhomb:nth-child(2) img {
        width: auto;
        height: 155px;
    }
    .roadmap {
        padding: 25px;
    }
    .highway .container p {
        font-size: 12px;
        width: 124%;
        line-height: 12px;
    }
    .roadmap .container h2 {
        font-size: 29px;
        font-weight: 700;
    }
    .roadmap .container .leftsite h2 {
        font-size: 40px;
        text-align: center;
    }
    .roadmap .container .rightsite .number p {
        font-size: 40px;
    }
    .roadmap .container .rightsite .itd .month {
        font-size: 14px;
    }
    .roadmap .container .rightsite .itd .title {
        font-size: 16px;
    }
    .roadmap .mb-5 {
        margin-bottom: 1rem !important;
    }
    .roadmap .gap-5 {
        gap: 7px !important;
    }
    .orng-btn, .trn-btn{
        width: 150px;
        height: 40px;
        font-size: 12px;
        letter-spacing: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}