h4 {
    color: #F87932;
}

h2 {
    font-family: "Merriweather", serif;
}

header h5 {
    color: #F87932;
}

header {
    background: url(../img/background.jpg);
}

.navbar-expand-lg {
    padding-top: 0;
    padding-bottom: 20px;
}
.navbar-expand-lg .navbar-collapse {
    justify-content: center;
}
.bg-body-tertiary {
    --bs-bg-opacity: 0;
}

.nav {
    gap: 40px;
}

.nav-link {
    height: 48px;
    letter-spacing: 5px;
    text-align: center;
    background-color: #ffffffb7;
    border-radius: 0px 0px 10px 10px;
    margin: 0;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    transition: height 1s ease-in-out, padding-top 1s ease-in-out;
}

.nav-link:hover {
    box-shadow: 0 0 20px 12px rgba(226, 226, 226, 0.281);
    padding-top: 40px;
    height: 100px;
}

.booktrip {
    display: flex;
    flex-direction: column;
    gap: 75px;
    align-items: flex-start;
    padding: 3rem 1rem;
    width: 100vw;
    /* overflow-x: hidden; */
}

.bookcontainer {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0 1rem;
}

.rhomb {
    transform: rotate(45deg);
    margin: 50px;
    height: 300px;
    width: 300px;
    overflow: hidden;

}

.rhomb img {
    max-width: 100%;
    transform: rotate(-45deg) scale(1.42);
}

.rhomb:nth-child(1) {
    border: 20px solid #fff;
}

.rhomb:nth-child(2) {
    width: 380px;
    height: 350px;
    position: relative;
    bottom: 350px;
    left: 150px;
    overflow: hidden;
    z-index: -1;
    object-fit: cover;
}

.rhomb:nth-child(2) img {
    width: auto;
    height: 400px;
}

.adventure h3 {
    color: #666666;
    font-size: 24px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.adventure h2 {
    font-size: 60px;
    line-height: 66px;
    font-weight: 900;
    color: #222222;
    margin-bottom: 30px;
}

.adventure p {
    font-size: 20px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 5px;
    color: #333333;
}

.adventure {
    margin-bottom: 300px;
}

.adventure .container .title {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.adventure .container .podtitle {
    font-size: 60px;
    line-height: 66px;
    font-weight: 900;
}

.adventure .container {
    padding-top: 300px;
    position: relative;
}

.adventure .container .maintext {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 4px;
    margin-bottom: 200px;
}

.adventure .container .btn-lg {
    margin-top: 20px;
}

.adventure a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 213px;
    height: 62px;
    background-color: none;
    font-size: 20px;
    font-weight: 700;
    border: 2px solid;
    border-radius: 0;
    position: relative;
    transition: .4s;
}

.adventure a:hover {
    background-color: #f87b3200;
}

.adventure a::before {
    content: "";
    display: block;
    background: #F87932;
    position: absolute;
    z-index: -1;
    transition: .4s;
}

.btn-lg::before {
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
}

.btn-lg:hover::before {
    width: 100%;
}

.adventure .container .col-6 {
    --width: min(100vw, 770px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: calc(var(--width) / 5.5);
    max-width: var(--width);
    height: 638px;
    background-size: cover;
    background-position: top left;

}

.route {
    transform: scale(0.6);
    position: absolute;
    top: -68px;
    right: 391px;
}
.videosec {
    background-image: url(../img/IMG_7207.gif);
    background-size: cover;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

.videosec .container h2 {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-size: 60px;
    line-height: 66px;
    color: white;
}
.text-center {
    text-align: center !important;
    margin-top: 400px;
}
.videosec .container p {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: white;
    line-height: 30px;
    letter-spacing: 4px;
}

.videosec button {
    background: none;
    width: 200px;
    border: none;
    margin-top: 80px;
}

.videosec .container {
    position: absolute;
}

.videosec .container .rombs {
    position: relative;
    top: 35px;
}

.info-item:not(.inside) {
    outline: 7px solid var(--secondary);
    box-shadow: 0 0 10px 5px black;
}

.info-item:not(.inside) > p {
    text-align: center;
    font-size: 0.75rem;

    padding-top: 10px;
    padding-left: 5px;
}


.info-item.inside {
    --size: 55px;
    --direction: -2;
    --scale: 1;

    display: flex;
    justify-content: center;
    align-items: center;


    background: var(--secondary);

    padding: 0;

    outline: 2px solid #674631;
}

.info-item.inside > p {
    --scale: 1;
    transform: rotate(225deg);
    margin: 0;
}



@media (max-width: 1200px) {
    .rhomb {
        width: 220px;
        height: 220px;
    }

    .rhomb img {
        max-width: 100%;
        transform: rotate(-45deg) scale(1.42);
    }

    .rhomb:nth-child(1) {
        border: 20px solid #fff;
    }

    .rhomb:nth-child(2) {
        width: 220px;
        height: 220px;
        position: relative;
        bottom: 300px;
        left: 150px;
        overflow: hidden;
        z-index: -1;
        object-fit: cover;
    }

    .rhomb:nth-child(2) img {
        width: auto;
        height: 250px;
    }

    .route {
        transform: scale(0.6);
        top: 63px;
        right: 282px;
    }

    .adventure .container .maintext {
        font-size: 16px;
        margin-bottom: 150px;
    }

    .adventure .container .podtitle {
        font-size: 40px;
    }

    .adventure .container .title {
        font-size: 20px;
    }

    .adventure {
        margin-bottom: 150px;
    }
}

@media (max-width: 992px) {
    .route {
        transform: scale(1);
        top: 129px;
        right: -6px;
    }

    .col-lg-6 {
        text-align: center;
    }

    .rhomb:nth-child(1) {
        border: 20px solid #fff;
        position: relative;
        left: 250px;
        bottom: 50px;
    }


    .rhomb:nth-child(2) {
        width: 220px;
        height: 220px;
        position: relative;
        bottom: 350px;
        left: 400px;
    }

    .dam {
        height: 0;
    }

    .adventure {
        margin-bottom: 100px;
    }
}

@media (max-width: 768px) {
    .route {
        display: none;
    }

    .routemin {
        position: absolute;
        top: 250px;
        left: -5px;
        transform: scale(1.1);
    }

    .adventure .container .podtitle {
        margin-bottom: 0px !important;
    }

    .adventure .container .maintext {
        font-size: 14px;
        margin-bottom: 502px;
    }

    .adventure .container .title {
        font-size: 16px;
    }

    .rhomb:nth-child(2) {
        width: 200px;
        height: 200px;
        position: relative;
        bottom: 459px;
        left: 309px;
    }

    .rhomb:nth-child(1) {
        border: 0px;
        position: relative;
        left: -85px;
        bottom: 489px;
    }

    .rhomb img {
        max-width: 100%;
        transform: rotate(-45deg) scale(1.62);
    }

    .rhomb {
        width: 160px;
        height: 160px;
    }

    .rhomb:nth-child(2) img {
        width: auto;
        height: 200px;
    }

    .dam {
        height: 0;
    }

    .adventure {
        margin-bottom: 100px;
    }
}

@media (max-width: 576px) {
    .container{
        overflow: hidden;
    }
    .adventure .container .maintext {
        font-size: 10px;
        margin-bottom: 162px;
        letter-spacing: 2px;
        line-height: 15px;
    }

    .rhomb {
        width: 100px;
        height: 100px;
    }

    .routemin {
        top: 229px;
        left: -5px;
        transform: scale(1);
    }

    .adventure .container .podtitle {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 20px !important;
    }

    .adventure .container .title {
        font-size: 12px;
    }

    .adventure a {
        width: 129px;
        height: 45px;
        background-color: none;
        font-size: 13px;
        font-weight: 600;
        border: 1px solid;
    }

    .rhomb:nth-child(1) {
        border: 0px;
        position: relative;
        left: -100px;
        bottom: 256px;
    }

    .rhomb:nth-child(2) {
        width: 115px;
        height: 115px;
        position: relative;
        bottom: 312px;
        left: 148px;
    }

    .rhomb:nth-child(2) img {
        width: auto;
        height: 155px;
    }
}